<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/template.css">
    <title>Ronald SMS | templates</title>
</head>
<body>
    <form action="http://localhost:3000/api/new_template" method="POST" id="form">
        <img onclick="exit()" src="/images/cross-mark_8369334.png" alt="">
        <div class="input-div">
            <p>Associated contacts</p>
            <input id="recipients" name="contacts" type="text" placeholder="Enter recipients number (Separate multiple numbers with a comma)">
        </div>
        <div class="input-div">
            <p>Template name</p>
            <input id="recipients" name="name" type="text" placeholder="Enter template name">
        </div>
        <div class="input-div">
            <p>Template</p>
            <textarea name="content" id="content" cols="55" rows="14" placeholder="Enter template"></textarea>
        </div>
        <button id="submit" type="submit">Add template</button>
    </form>
    <form action="http://localhost:3000/api/bulksms" method="POST" id="form1">
        <img onclick="exit()" src="/images/cross-mark_8369334.png" alt="">
        <div class="input-div">
            <p>Associated contacts</p>
            <input id="contacts" name="receiver" type="text" placeholder="Enter recipients number (Separate multiple numbers with a comma)">
        </div>
        <div class="input-div">
            <p>Template name</p>
            <input id="name" name="name" type="text" placeholder="Enter template name">
        </div>
        <div class="input-div">
            <p>Template</p>
            <textarea name="content" id="contents" cols="55" rows="14" placeholder="Enter template"></textarea>
        </div>
        <button id="custom" type="button">Edit Message</button>
        <button id="send" type="submit">Send Message</button>
    </form>
    <% if (data.length === 0) { %>
        <div id="blinds"></div>
        <div id="empty-page">
            <p id="opener">You don't seem to have any templates, wanna create one?</p>
            <button id="temp" onclick="send()">Add Template</button>
        </div>
    <% } else { %>
   <button id="temp-second" onclick="send()">Add Template</button>
    <div id="msg-group">
        <% for( let i = 0; i < data.length; i++ ) { %>
            <div class="msg-temp" onclick="template('<%=data[i].dataValues.name%>', '<%=data[i].dataValues.recipients%>', '<%=data[i].dataValues.content%>')">
                <p><%=data[i].dataValues.name%></p>
            </div>
        <% } %>
    </div>
    <% } %>
   <script src="/script.js"></script>
   <script>
    document.getElementById('custom').addEventListener('click', (event) => {
        event.preventDefault()
        console.log("Hello")
        document.getElementById('contacts').readOnly = false
        document.getElementById('contents').readOnly = false
        document.getElementById('name').readOnly = false
    })

    function template(name, contact, msg) {
        document.getElementById('blinds').style.display = 'block'
        document.getElementById('form1').style.display = 'flex'
        document.getElementById('contacts').value =  contact
        document.getElementById('contacts').readOnly = true
        document.getElementById('contents').value = msg
        document.getElementById('contents').readOnly = true
        document.getElementById('name').value = name
        document.getElementById('name').readOnly = true
    }
   </script>
</body>
</html>